/*Font Family Start*/

@font-face {
  font-family:m100;
  src:url("Fonts/m100.eot");
}

@font-face {
  font-family:m100;
  src:url("Fonts/m100.otf");
}

@font-face {
  font-family:m300;
  src:url("Fonts/m300.eot");
}

@font-face {
  font-family:m300;
  src:url("Fonts/m300.otf");
}

@font-face {
  font-family:m500;
  src:url("Fonts/m500.eot");
}

@font-face {
  font-family:m500;
  src:url("Fonts/m500.otf");
}

/*Custom CSS start*/

.container-fluid {
  width:100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width:1160px;
  height: auto;
}

.pull-left {
  float:left;
}
  
 .pull-right {
  float:right;
}

.text-center {
  text-align: center;
}

.text-white{
  color: white;
}

.fix {
  overflow: hidden;
}

/*Top Bar start*/ 

.topbar_wrapper {
padding: 5px 0;
}

.topbar {
}

.contact {
font-size:12px;
font-family: m100;
}

.phone {
margin-right:20px;
}

.phone > p {
  font-size: 11px;
}

.phone > p > img {
width: 6px;
margin-top: -4px;
}

.email {
}

.email > p {
  font-size: 13px;
  margin-top:10px;
}

.email > p > img {
  width: 13px;
}

.top_menu {
  padding-top: 15px;
}

.top_menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top_menu > ul > li {
  display: inline-block;
  margin-left: 20px;
}

.top_menu > ul > li > a {
display: block;
text-decoration: none;
color: #333;
font-family: m100;
font-size: 14px;
}

.top_menu > ul > li > a:hover {
  color: #666;
}

/*Header start*/

.header_wrapper {
	background: #f5f6f1;
	padding: 60px 0;
	margin-bottom: 40px;
}

.header {
}

.logo {
	margin-right: 140px;
}

.logo_text {
}

.logo_text > h1 {
	font-family: fantasy;
	color: #463f3a;
	font-size: 44px;
	margin: 0;
	line-height: 38px;
}

.logo_text > p {
	font-size: 12px;
	font-weight: 600;
	font-family: m300;
	margin: 3px;
	padding: 0;	
}

.logo_icon {
}

.logo_icon > img{
	padding-top: 0px;
	padding-left: 10px;
}

.navigation {
	padding-top: 15px;
}

.navigation > ul {
	list-style:none;
	margin: 0;
	padding: 0;	
}

.navigation > ul > li {
	display: inline-block;
	margin-left: 10px;	
}

.navigation > ul > li > a{
	display: block;
	color: #444;
	text-decoration: none;
	font-family: m500;	
}

.navigation > ul > li > a:hover{
		color: #666;
}

.slash {
	color:#e65753;
	font-weight: bold;	
}

.cart_text {
	margin-right: 15px;
}

.cart_text > p {
	margin: 0;
	font-family: m300;
	color: #333;	
}

.cart_text > h4 { 
	margin: 0;
	color: #222;
}

.cart_icon {
}

.cart_icon > img{
	width: 45px;
	padding-top: 5px;	
}

/*Slider start*/

.slider_wrapper {
	margin-bottom: 40px;
	
}

.slider {
}

.slider_back {
	position: relative;
}

.slider_back > img{
	width:100%;
	
}

.slider_text {
	position: absolute;
	top: 80px;
	left: 100px;
}

.slider_text  > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	
	
}

.slider_text > ul > li {
	
	
}

.slider_text > ul > li > a {
	display: block;
	color: white;
	text-decoration: none;
	font-family: "oswald", sans-serif;
	font-size: 60px;
	font-weight: bold;
	
}

.slider_image {
	position: absolute;
	top: 172px;
	right: 0;
	
}

.slider_image > img {
	
/*Service start*/	
	
}
.services_wrapper {
	margin-bottom: 40px;
}

.services {

}

.service {
	background: #f5f6f1;
	margin-right: 20px;
	padding: 15px;
	width: 342px;
	text-align: center;
}

.service:last-child {
	margin-right: 0px;
}

.service > h1 {
	color: #463f3a;
	font-family: "Oswald", sans-serif;
	font-size: 30px;
	margin: 0;	
}

.service > p {
	font-family: m300;
	color: #463f3a;
	margin: 0;	
}

.service > p > a {
	font-family: m500;
	color: #f55856;
	margin: 0;	
	text-decoration: none;
}

/*Portfolio One start*/

.portfolio_one_wrapper {
	background:#f8f8f8;
	padding: 40px 0;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin: 40px 0;
}

.portfolio_one {
	
}

.heading_one {
	position: relative;
	background: url("images/heading_thick_icon.png");
	height: 3px;
	margin-bottom: 40px;
	line-height: 12px;
	
}

.heading_one > h1 {
	font-family: "Oswald", sans-serif;
	position: absolute;
	left:420px;
	top:-28px;
	color: #463f3a;
	background:#f8f8f8;
	padding: 5px 15px;
}

.heading_one > img {
	width:100%;
	height: 1px;
}

.one_wrapper {
	width:373px;
	margin-right:20px;
}

.one_wrapper:last-child {
	margin-right:0px;	
}

.one_wrapper > img{
	width:100%;
}

.one {
	background: white;
	padding:10px 20px;	
}

.one > h1{
	font-family: "Oswald", sans-serif;
	color: #463f3a;
	margin: 0;
	margin:0 0 12px 0;
}
	
.one > p {
	margin:0 0 12px 0;
	color:#463f3a;
	font-style: italic;
}

.one > p > a {
	font-style: normal;
	color: #f55856;
	text-decoration: none;
	font-family: m500;	
}

/*Portfolio Two start*/

.portfolio_two_wrapper {
	
	padding: 40px 0 ;
	margin: 0px 0 40px 0;
}

.portfolio_two {
}

.heading_two {
	position: relative;
	background: url("images/heading_thick_icon.png");
	height: 3px;
	margin-bottom: 40px;
	line-height: 12px;	
}

.heading_two > h1 {
	font-family: "Oswald", sans-serif;
	position: absolute;
	left:420px;
	top:-28px;
	color: #463f3a;
	background: white;
	padding:5px 15px;
}

.heading_two > img {
	width:100%;
	height: 1px;
}

.two_wrapper {
	margin-right: 20px;
	width: 272px;
	
}

.two_wrapper:last-child {
	margin-right: 0px;
}

.two_wrapper > img {
	width: 100%;
		
}

.two > p {
	font-family: m300;
	margin: 0;
	padding: 10px 0;
}

.two > h4 {
	margin: 0;	
}

.two > p  > a {
	text-decoration:none;
	background-color:#463f3a ;
	color: white;
	margin: 0;
	padding: 10px 0;
	display: block;
	padding: 5px 20px;
	text-align: center;
	font-family:"Oswald", sans-serif;
	font-size:23px;
	font-weight: bold;
}

/*Portfolio Three start*/

.portfolio_three_wrapper {
	background:#f8f8f8;
	padding: 40px 0;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin: 40px 0;
}

.portfolio_three {
}
.heading_three {
	position: relative;
	background: url("images/heading_thick_icon.png");
	height: 3px;
	margin-bottom: 40px;
	line-height: 12px;	
}

.heading_three > h1 {
	font-family: "Oswald", sans-serif;
	position: absolute;
	left:420px;
	top:-28px;
	color: #463f3a;
	background: white;
	padding:5px 15px;
}

.heading_three > img {
	width:100%;
	height: 1px;
}

.three_wrapper {
	margin-right: 20px;
	width: 272px;	
}

.three_wrapper:last-child {
	margin-right: 0px;
		
}

.three_wrapper > img {
		width: 100%;		
}

/*Blog start*/

.blog_wrapper {	
	padding: 40px 0;
	margin: 40px 0;
}

.blog {}

.four_wrapper {
	width:272px;
	margin-right:20px;
}

.four_wrapper:last-child {
	margin-right:0px;	
}

.four_wrapper > img{
	width:100%;
}

.four  > p {
	margin: 10px 0 12px 0;
	color: #463f3a;
}

.four > h4 {
	font-family: m300;
	color: #463f3a;
	margin: 10px 0 12px 0;	
}

.four > p  > a {
	font-style: normal;
	color: #f55856;
	text-decoration: none;
	font-family: m500;
}

/*Footer Top start*/

.footer_top_wrapper {
	background:#f2f2f0;
	
}

.footer_top {}

.footer_top  > h1 {
	margin: 0;
	font-family: "Oswald", sans-serif;
	font-size: 35px;
	color: #463f3a;
	padding-top: 45px;
}

.footer_top  > p {
	margin: 0;
	font-family: m300;
	color: #463f3a;
	padding: 0 0px 35px;
}

.footer_top  > p > a {
	color: #f8605d;
	text-decoration: none;
	
}
 
 /*Footer Middle start*/
 
.footer_middle_wrapper {
	background: #463f3a;
	padding: 60px 0 40px;	
}

.header {
}

.f_logo {
	margin-right: 140px;
}

.f_logo_text {
	
}

.f_logo_text > h1 {
	font-family: fantasy;
	font-size: 44px;
	margin: 0;
	line-height: 38px;	
}

.f_logo_text > p {
	font-size: 12px;
	font-weight: 600;
	font-family: m300;
	margin: 0;
	padding: 0;	
	
}

.f_logo_icon {
}

.f_logo_icon > img{
	padding-top: 0px;
	padding-left: 10px;
}

.f_navigation > p  {
	font-size: 13px;
}

.f_navigation {
	padding-top: 0px;
}

.f_navigation > ul {
	list-style:none;
	margin: 0;
	padding: 0;	
}

.f_navigation > ul > li {
	display: inline-block;
	margin-left: 10px;	
}

.f_navigation > ul > li > a{
	display: block;
	color: white;
	text-decoration: none;
	font-family: m500;	
}

.f_navigation > ul > li > a:hover{
	color: #eee;
}

.top_icon {
	
}

.top_icon > img{
	padding-top: 5px;	
}
.footer_middle {
}

.f_logo {
}

.f_logo_text {
}

.f_logo_icon {
}

.f_navigation {
}

/*Footer Bottom start*/

.footer_bottom_wrapper {
	padding: 15px 0;
	background: #eeeeee;
}

.footer_bottom {
}

.social {
}

.social > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
	
.social > ul > li {
	display: inline-block;	
	margin-right: 12px;
}

.social > ul > li  > a {
}

.social > ul > li  > a:hover {
}

.copyright {
}

.copyright > p {
	margin:0;
	font-family: m300;
	font-size: 14px;
}

.copyright > p  > a{
	color: #f55856;
	text-decoration: none;
	font-family: m500;
	
}
